{% load static %}

<!DOCTYPE html>
<html>

<head>
	<title>Pre-Test - Huffman Coding</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'css/maincss.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/quiz.css' %}">
</head>

<body>
	<div id="nav-placeholder">
  	<ul>
   	  <li><a href="{% url 'home' %}"><img src="../../static/images/aim.png" alt="Aim" height="90px" width="100px"></a><a href="{% url 'home' %}">Aim</a></li>
	  <li><a href="{% url 'theory' %}"><img src="../../static/images/theory.png" alt="Theory" height="90px" width="100px"></a><a href="{% url 'theory' %}">Theory</a></li>
	  <li><a href="{% url 'procedure' %}"><img src="../../static/images/Procedure.png" alt="Procedure" height="90px" width="100px"></a><a href="{% url 'procedure' %}">Procedure</a></li>
	  <li><a href="#"><img src="../../static/images/pre-test.png" alt="Pre-Test" height="90px" width="100px"></a><a href="#">Pre-Test</a></li>
	  <li><a href="#" onclick="alert('Complete Pre Test to perform Simulation')"><img src="../../static/images/simulation.png" alt="Simulation" height="90px" width="100px"></a><a href="#" onclick="alert('Complete Pre Test to perform Simulation')">Simulation</a></li>
	  <li><a href="#" onclick="alert('Complete Simulation to access Post Test')"><img src="../../static/images/post-test.png" alt="Post-Test" height="90px" width="100px"></a><a href="#" onclick="alert('Complete Simulation to access Post Test')">Post-Test</a></li>
	  <li><a href="{% url 'references' %}"><img src="../../static/images/references.png" alt="References" height="90px" width="100px"></a><a href="{% url 'references' %}">References</a></li>
    <li><a href="{% url 'feedback' %}"><img src="../../static/images/feedback.png" alt="Feedback" height="90px" width="100px"></a><a href="{% url 'feedback' %}">Feedback</a></li>
	</ul>
  </div>
  
	<div id="whole_body">
		<div class="section-title">
    	<b>Understanding Huffman Code - Pre-Test</b>
    </div>
    
    <div class="container">
      <div class="row justify-content-center mb-4">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header bg-info text-white">
              <h5 class="mb-0"><i class="fa fa-info-circle"></i> Instructions</h5>
            </div>
            <div class="card-body">
              <p>Fill in the correct values in the table fields based on the Huffman coding procedure.</p>
              <p>When you have entered all values, click "Check Answers" to verify your solution.</p>
              <p>After submitting correct answers, you will be able to proceed to the Simulation section.</p>
              
              <button type="button" class="btn btn-info mt-3" data-toggle="modal" data-target="#procedureModal">
                <i class="fa fa-list-ol"></i> View Huffman Coding Procedure
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="procedureModal" tabindex="-1" role="dialog" aria-labelledby="procedureModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="procedureModalTitle">Huffman Coding Procedure</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <ol>
                <li>List the given source of symbols in order of their specified decreasing probability.</li>
                <li>Assign a binary logic '0' and '1' to the two source symbols of lowest probability in the list obtained in above step.</li>
                <li>Add the probability of these two source symbols and regard it as one new source symbol. This results in a reduction of the size of the list of source symbols by 1.</li>
                <li>Place the assigned probability of the new symbol, high or low in the list with the rest of symbols, with their given probabilities.</li>
                <li>Repeat the procedure specified in steps from 2 to 4, till the final set of 2 source symbols is obtained.</li>
                <li>Assign binary logic 0 & 1 to the final two source symbols and all obtained symbols in step 5.</li>
                <li>Determine Codeword for each original source symbol by working backward and tracing the sequence of binary logic values.</li>
              </ol>
              
              <div class="alert alert-info mt-3">
                <p><strong>Pre-Test Instructions:</strong></p>
                <p>Fill the correct values in the table fields and click "Check Answers" to verify your answers.</p>
                <img src="{% static 'images/pro3.png' %}" alt="Pre-test example" class="img-fluid my-3">
                <p>After submitting correct answers, the "Perform Simulation" button will be activated, allowing you to move to the Simulation section.</p>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-primary text-white">
              <h5 class="mb-0">Huffman Coding Table Exercise</h5>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered table-hover">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col"><center>Probability</center></th>
                      <th scope="col"><center>Step 1</center></th>
                      <th scope="col"><center>Step 2</center></th>
                      <th scope="col"><center>Step 3</center></th>
                      <th scope="col"><center>Huffman code</center></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row"><center>0.4</center></th>
                      <td><center>0.4</center></td>
                      <td><center><textarea id="row1col3" rows="1" cols="5" placeholder="Value"></textarea></center></td>
                      <td><center><textarea id="row1col4" rows="1" cols="5" placeholder="Value"></textarea></center></td>
                      <td><center><textarea id="row1col5" rows="1" cols="5" placeholder="Code"></textarea></center></td> 
                    </tr>
                    <tr>
                      <th scope="row"><center>0.2</center></th>
                      <td><center><textarea id="row2col2" rows="1" cols="5" placeholder="Value"></textarea></center></td>
                      <td><center>0.4</center></td>
                      <td><center><textarea id="row2col4" rows="1" cols="5" placeholder="Value"></textarea></center></td>
                      <td><center><textarea id="row2col5" rows="1" cols="5" placeholder="Code"></textarea></center></td>
                    </tr>
                    <tr>
                      <th scope="row"><center>0.2</center></th>
                      <td><center>0.2</center></td>
                      <td><center>0.2</center></td>
                      <td><center>----</center></td>
                      <td><center><textarea id="row3col5" rows="1" cols="5" placeholder="Code"></textarea></center></td>
                    </tr>
                    <tr>
                      <th scope="row"><center>0.1</center></th>
                      <td><center><textarea id="row4col2" rows="1" cols="5" placeholder="Value"></textarea></center></td>
                      <td><center>----</center></td>
                      <td><center>----</center></td>
                      <td><center><textarea id="row4col5" rows="1" cols="5" placeholder="Code"></textarea></center></td>
                    </tr>
                    <tr>
                      <th scope="row"><center>0.1</center></th>
                      <td><center>----</center></td>
                      <td><center>----</center></td>
                      <td><center>----</center></td>
                      <td><center><textarea id="row5col5" rows="1" cols="5" placeholder="Code"></textarea></center></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
              <div class="text-center mt-4">
                <button class="btn btn-primary px-4" onclick="checkAnswer()">
                  <i class="fa fa-check-circle"></i> Check Answers
                </button>
              </div>
              
              <div class="text-center mt-3">
                <button class="btn btn-success px-4" id="toSimulation" onclick="location.href='{% url 'simulation' %}'" disabled>
                  <i class="fa fa-arrow-right"></i> Perform Simulation
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'js/pretest.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  
  <script>
    document.getElementById("toSimulation").disabled = true;

    function checkAnswer() {
      var a = document.getElementById("row2col2").value;
      var b = document.getElementById("row4col2").value;
      var c = document.getElementById("row1col3").value;
      var d = document.getElementById("row1col4").value;
      var e = document.getElementById("row2col4").value;
      var f = document.getElementById("row1col5").value;
      var g = document.getElementById("row2col5").value;
      var h = document.getElementById("row3col5").value;
      var i = document.getElementById("row4col5").value;
      var j = document.getElementById("row5col5").value;
      
      if (
        a == "0.2" &&
        b == "0.2" &&
        c == "0.4" &&
        d == "0.6" &&
        e == "0.4" &&
        f == "00" &&
        g == "10" &&
        h == "11" &&
        i == "010" &&
        j == "011"
      ) {
        Swal.fire({
          icon: 'success',
          title: 'Correct!',
          text: 'You can now proceed to the Simulation section',
          confirmButtonColor: '#3385ff'
        });
        document.getElementById("toSimulation").disabled = false;
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Incorrect',
          text: 'Please check your answers and try again',
          confirmButtonColor: '#3385ff'
        });
      }
    }
  </script>
  
  <!-- Answer Reference Table (Collapsed by Default) -->
  <!-- <div class="container mt-5">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <button class="btn btn-link text-white" type="button" data-toggle="collapse" data-target="#answerTable" aria-expanded="false" aria-controls="answerTable">
          <i class="fa fa-question-circle"></i> Show Answer Reference
        </button>
      </div>
      <div class="collapse" id="answerTable">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-hover">
              <thead class="thead-dark">
                <tr>
                  <th>Field ID</th>
                  <th>Description</th>
                  <th>Correct Value</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>row2col2</td>
                  <td>Step 1 for 0.2 probability (row 2)</td>
                  <td>0.2</td>
                </tr>
                <tr>
                  <td>row4col2</td>
                  <td>Step 1 for 0.1 probability (row 4)</td>
                  <td>0.2</td>
                </tr>
                <tr>
                  <td>row1col3</td>
                  <td>Step 2 for 0.4 probability (row 1)</td>
                  <td>0.4</td>
                </tr>
                <tr>
                  <td>row1col4</td>
                  <td>Step 3 for 0.4 probability (row 1)</td>
                  <td>0.6</td>
                </tr>
                <tr>
                  <td>row2col4</td>
                  <td>Step 3 for 0.2 probability (row 2)</td>
                  <td>0.4</td>
                </tr>
                <tr>
                  <td>row1col5</td>
                  <td>Huffman code for 0.4 probability (row 1)</td>
                  <td>00</td>
                </tr>
                <tr>
                  <td>row2col5</td>
                  <td>Huffman code for 0.2 probability (row 2)</td>
                  <td>10</td>
                </tr>
                <tr>
                  <td>row3col5</td>
                  <td>Huffman code for 0.2 probability (row 3)</td>
                  <td>11</td>
                </tr>
                <tr>
                  <td>row4col5</td>
                  <td>Huffman code for 0.1 probability (row 4)</td>
                  <td>010</td>
                </tr>
                <tr>
                  <td>row5col5</td>
                  <td>Huffman code for 0.1 probability (row 5)</td>
                  <td>011</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="alert alert-info">
            <p><strong>Note:</strong> These answers are derived from applying the Huffman coding algorithm to the given probability values.</p>
            <p>If you need help understanding how these values are calculated, review the theory section for step-by-step explanation.</p>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</body>
</html>