{% extends 'base.html' %}

{% load static %}

{% block title %}Procedure: Huffman Coding{% endblock %}

{% block page_title %}Understanding Huffman Coding - Procedure{% endblock %}

{% block content %}
<div class="row fade-in">
    <div class="col-lg-12">
        <div class="card mb-4">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Procedure for Pre-Test</h4>
            </div>
            <div class="card-body">
                <ol class="list-group list-group-numbered mb-4">
                    <li class="list-group-item bg-transparent">Fill the correct values in the table fields and click on 'Check answers' to check your response.</li>
                    <li class="list-group-item bg-transparent">
                        <div class="text-center my-3">
                            <img src="{% static 'images/pro3.png' %}" alt="simulator image" class="img-fluid rounded shadow-sm">
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent">After submission of a correct response, the 'Perform Simulation' button is activated and then you can move to the Simulation section.</li>
                </ol>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">Procedure for Simulation</h4>
            </div>
            <div class="card-body">
                <ol class="list-group list-group-numbered mb-4">
                    <li class="list-group-item bg-transparent">The simulation tab consists of 2 sections.</li>
                    <li class="list-group-item bg-transparent">In the first section, the user needs to enter the correct Huffman codes for each character in the given string.</li>
                    <li class="list-group-item bg-transparent">
                        <div class="text-center my-3">
                            <img src="{% static 'images/pro1.PNG' %}" alt="simulator image" class="img-fluid rounded shadow-sm">
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent">On clicking the Check answer button, it shows whether the code submitted by the user is correct or not. Then the user may proceed to Section 2.</li>
                    <li class="list-group-item bg-transparent">In the second section, the user needs to select the correct input sequence from the dropdown such that the given output is obtained. On submission of correct answer, the user will be allowed to move to the Post-Test section.</li>
                    <li class="list-group-item bg-transparent">
                        <div class="text-center my-3">
                            <img src="{% static 'images/pro.png' %}" alt="simulator image" class="img-fluid rounded shadow-sm">
                        </div>
                    </li>
                    <li class="list-group-item bg-transparent">Click on <b>'Perform Post-test'</b> to move to the next section.</li>
                </ol>
            </div>
        </div>
    </div>
</div>
{% endblock %}